.programme-main{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 5vw;
}

.programmes-container {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  font-family: Arial, sans-serif;
  background-color: rgb(243, 243, 243);
  border-radius: 25px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 2vw;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

.main-heading {
  font-size: 2em;
  color: black;
  text-align: center;
  margin: 1rem;
}

.programmes-sidebar {
  flex: 1;
  min-width: 200px;
  background-color: white;
  padding: 20px;
  border-radius: 25px;
}

.programmes-sidebar .programmes-category {
  font-weight: bold;
  margin-bottom: 12.5px;
  margin-top: 10px;
  font-size: 18px;
  color: rgb(0, 32, 96);
}

.programmes-sidebar ul {
  list-style-type: none;
  padding: 0;
}

.programmes-sidebar ul li {
  margin: 30px 0;
    font-weight: bolder;
    padding: 16px 15px;
    cursor: pointer;
    position: relative;
    background-color: #f5f5f5;
    color: black;
    transition: background-color 0.3s;
}

.programmes-sidebar ul li.active {
  background-color: #004080;
  color: white;
}

.programmes-sidebar ul li::after {
  content: '';
    position: absolute;
    right: -17px;
    top: 0px;
    border-top: 20px solid transparent;
    border-bottom: 31px solid transparent;
    border-left: 17px solid #f5f5f5;
    transition: border-left-color 0.3s;
}

.programmes-sidebar ul li.active::after {
  border-left-color: #004080;
}

.programmes-content {
  flex: 2;
  padding: 20px;
  background-color: white;
  border-radius: 25px;
  margin-left: 20px;
  /* box-shadow: 0 4px 18px rgba(0, 0, 0, 0.3); */
}

.programmes-image {
  width: 100%;
  height: 22vh;
  border-radius: 10px;
  border-radius: 10px;
  object-fit: cover;
}

.programmes-text {
  margin-top: 20px;
}

.programmes-text h2 {
  color: #004080;
}

.programmes-text p {
  color: #666;
  font-size: 16px;
  line-height: 1.5;
}

.programmes-buttons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.read-more-button,
.admission-button {
  background-color: rgba(4, 4, 91);
  color: white;
  font-weight: 900;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.read-more-button:hover,
.admission-button:hover {
  background-color: rgb(172, 172, 172,0.5);
  color: black;
}

.programme-image section{
  margin-top: 24px;
  border:2px solid #004080;
  border-radius: 30px 30px 150px 30px;
  position: relative;
}

.programme-image section img{
  border-radius: 30px 30px 150px 30px;
  transform: translate(15px,-15px);
}

@media (max-width: 1024px) {
  .programmes-container {
    width: 90%;
  }

  .programmes-sidebar {
    text-align: center;
    margin-bottom: 20px;
  }

  .programmes-content {
    text-align: center;
    margin-left: 0;
  }

  .programmes-buttons {
    /* flex-direction: column; */
    align-items: center;
    position: relative;
    left: 15%;
  }
  .programmes-sidebar {
    margin-right: 20px;
  }

  

}

@media (max-width: 768px) {
  .programmes-content {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .programmes-sidebar ul li {
    padding: 15px;
  }

  .programmes-content {
    padding: 10px;
  }
}
