@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  font-family: "Roboto", sans-serif;
}

.header{
  position: relative;
  display: flex;;
  align-items: center;
  justify-content: space-between;
  margin: 0 5vw;
}
.language-toggle{
  width: 25vw;
}
.language-toggle p{
  margin-top: 0;
  text-align: right;
  margin-right: 1vw;
}

.language-toggle span:hover{
  cursor: pointer;
  color: gray;
} 


.serach-bar{
  margin-right: 1vw;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-bottom: 1vw;
}

.serach-bar span{
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  height: 2vw;
  width: 2vw;
  background-color: #004080;
  padding: 4px;
}

.serach-bar span img{
  width: 1vw;
  height: 1vw;
}

.serach-bar .search{
  height: 100%;
  width: 200px;
}

.serach-bar .search-input{
  height: 2vw;
  width: 0px;
  border: none;
  background-color: #e7e7e7;
  outline: none;
  transition: all 0.3s ease-in;
}

.serach-bar:hover .search-input{
  width: 200px;
  padding-left: 1rem;
}

.header-top {
  background-color: #f8f8f8;
  display: flex;
  justify-content: flex-start;
}

.header-top ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

.header-top ul li a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

.header-main {
  display: flex;
  align-items: center;
  /* padding: 20px 20px; */
  background-color: #fff;
  width: 90%;
}

.header-logo {
  width: 8vw;
  margin-right: 20px;
}


.header-title {
  font-size: 1.1vw;
}

.header-title h1 {
  margin: 0;
  font-size: 3vh;
}

.header-nav {
  background-color: #333;
}

.header-nav ul {
  list-style: none;
  display: flex;
  padding: 10px 20px;
  margin: 0;
}
#root > div > div > div.App > nav{
  background-color: #004080;
}

.header-nav ul li {
  margin-right: 19px;
  position: relative;
}

.header-nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}


/* Marquee */
.marquee-main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 20px;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

.marquee-container {
  display: flex;
  width: 100%;
  overflow: hidden;
  height: 40px;
}

.marquee-left {
  background-color: #004080;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  white-space: nowrap;
  width: 10%;
  position: relative;
}


/* .marquee-left::after {
  content: '';
  position: absolute;
  top: 0;
  right: -13px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 20px solid #004080;
  border-bottom: 20px solid transparent;
  z-index: 1;
} */


.marquee-left{
  font-weight: 900;
}

.marquee-right {
  background-color: rgb(242, 239, 239);
  color: black;
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-grow: 1;
  position: relative;
  padding-left: 30px; /* Add padding to start text a little bit inside */
}

/* .marquee-right::before {
  content: '';
  position: absolute;
  top: 0;
  left: -10px; 
  width: 0;
  height: 0;
  border-top: 20px solid transparent; 
  border-right: 10px solid #acd3fb; 
  border-bottom: 20px solid transparent;
  z-index: 1; 
} */

.marquee {
  display: flex;
  animation: marquee 60s linear infinite;
  white-space: nowrap;
  padding-left:15%;
}

.marquee p {
  margin: 0 20px;
}

@keyframes marquee {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Top video */
.video-component{
  padding: 0;
  margin: 0;
}

.video-component video{
height: 650px;
width: 100%;
object-fit: cover;
}


/* News */
.style-0 {
  margin: 40px 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0px;
  border: 0px none rgb(0, 0, 0);
  font: 16px / 16px Roboto, sans-serif;
  vertical-align: baseline;
}

.style-1 {
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 72px;
  box-sizing: border-box;
  margin: 0px 0px 72px;
  padding: 0px;
  border: 0px none rgb(0, 0, 0);
  vertical-align: baseline;
}

.style-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  padding: 0px;
  list-style: outside none none;
  margin: 0px;
  border: 0px none rgb(0, 0, 0);
  font: 16px / 16px Roboto, sans-serif;
  vertical-align: baseline;
}

.style-4, .style-9, .style-14 {
  width: 30%;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 1px solid #004080;
  position: relative;
  box-sizing: border-box;
  list-style: outside none none;
  padding: 0px;
  font: 16px / 16px Roboto, sans-serif;
  vertical-align: baseline;
}
#root > div > div > div.style-0 > ul > li.style-9{
  margin-top: 10px;
}
#root > div > div > div.style-0 > ul > li.style-14{
  margin-top: 10px;
}
#root > div > div > div.style-0 > ul > li.style-4{
  margin-top: 10px;
}

.style-5, .style-10, .style-15 {
  background: rgb(249, 249, 249) none repeat scroll 0% 0% / auto padding-box border-box;
  padding: 24px 12px;
  height: 100%;
  position: relative;
  right: -16px;
  top: -24px;
  border-radius: 12px;
  box-sizing: border-box;
  margin: 0px;
  border: 0px none rgb(0, 0, 0);
  font: 16px / 16px Roboto, sans-serif;
  vertical-align: baseline;
}

.style-7, .style-12 {
  height: 30vh;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(0, 0, 0);
  vertical-align: baseline;
  border-radius: 15px;
}

.blocks {
  margin-left: 0.5vw;
  margin-top: 0.5vw;
  line-height: 2vw;
}

.blocks button {
  color: white;
  background-color: #004080;
  display: flex;
  align-items: center;
  font-weight: 600;
  box-sizing: border-box;
  border: 0;
  padding: 10px;
}
.blocks p{
  font-size: 1.2vw;
  color: grey;
  font-weight: 900;
}
.blocks h3{
  line-height: 3vh;
}

@media (max-width: 768px) {
  .style-4, .style-9, .style-14 {
    width: 51%;
    
  }
  .header-logo{
    width: 8vw;
  }
  .serach-bar span img{
    width: 30px;
    height: 30px;
  }
  .blocks {
    margin-top: 0.5vw;
    line-height: 5vw;
  }
  .blocks button{
    margin-top: 2vw;
  }
}
@media (max-width: 1500px) {
  .serach-bar span{
    height: 45px;
    width: 45px;
  }
  
  .serach-bar span img{
    width: 30px;
    height: 30px;
  }
  

  
  .serach-bar .search-input{
    height: 33px;
    max-width:100px;
  }
}

@media (max-width: 1800px){
  .serach-bar span img{
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 600px) {
  .header-logo{
    width: 15vw;
    
  }
}

@media (max-width: 648px) {
  .header-logo{
    width: 10vw;
    margin-bottom: 10vw;
  }
}
@media (max-width: 900px) {
  .header-logo{
    width: 10vw;
    margin-bottom: 10vw;
  }
}


@media (max-width: 480px) {
  .style-4, .style-9, .style-14 {
    width: 100%;
  }
  .style-1 {
    font-size: 28px;
    margin-bottom: 36px;
  }
.header{
 flex-direction: column-reverse;
 padding-top: 0.5rem;
}

  .header-logo {
    width:15vw;
    margin-right: 0px;
}

.header-title{
   font-size: 6px;
   background-color: transparent;
}

.header-main{
  background-color: transparent;
}
.header-main h1{
  font-size: 4vw;
}

.language-toggle{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin:  0 auto;
  position: absolute;
  margin-bottom: 15vw;
}

.language-toggle p{
  font-size: 3vw;
  padding-top: 3vw;
}

.serach-bar span{
  height: 15px;
  width: 15px;
}
.serach-bar span img{
  width: 3.5vw;
  height: 4vw;
}

.serach-bar .search-input{
  height: 23px;
  max-width:100px;
}

.video-component video {
  height: auto;
  width: 100%;
  object-fit: contain;
}

.marquee{
  animation: marquee 90s linear infinite
}

.marquee-left{
font-size: 15px;
width: 25%;
}

@keyframes marquee {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.style-3{
  gap: 2rem;
}

.programme-main{
  justify-content: space-evenly;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.programme-image section img{
  width: 280px;
}


.style-5, .style-10, .style-15 {
  top: -4px;
  left: 4px;
}

.main-heading{
  text-align: center;
  margin: 0 2vw;
}

.marquee p{
  font-size: 13px !important;
}

.blocks p{
  font-size: 5vw;
}
.blocks {
  margin-top: 0.5vw;
  line-height: 10vw;
}
.blocks button{
  margin-top: 2vw;
}

}


@media (max-width: 480px) {
  #root > div > div > header > div.language-toggle > div > span {
     
      position: absolute;
      
      right: 0;
      margin-top: 60px;
  }
 
  .header-title{
    width: 250px;
  }
  #root > div > div > header > div.header-main > a > img{
    width: 50px;
    margin-right:10px;
  }

  #root > div > div > header > div.header-main > div > h1:nth-child(1){
    font-size: 13px;
  }
  

}

@media(max-width:380px){
  #root > div > div > header > div.header-main > div > h1:nth-child(2){
    font-size: 11px !important;
  }
  #root > div > div > header > div.header-main > div > h1:nth-child(1){
    font-size: 10px !important;
  }

  #root > div > div > header > div.language-toggle > div > span{
    width: 14px !important;
    height: 14px !important;
    position: absolute;
    left: 100%;
    margin-top: 30px;
   }
   #root > div > div > header > div.language-toggle > div > span > img{
    height: 15px !important;
   }

}

@media(max-width: 1062px){
  #root > div > div > header > div.language-toggle > div > span{
  width: 20px;
  height: 20px;
 }
 .header-title h1{
  font-size: 22px;
 }
}


@media(max-width: 901px){
 
  #root > div > div > header > div.header-main > div > h1:nth-child(2){
    font-size: 20px;
    margin-bottom: 45px;
  }
  .header-title h1{
    font-size: 20px;
  }
  .header-logo{
    margin-bottom: 10px;
  }
}

@media(max-width:836px){
  .header-title h1{
    font-size: 15px;
    margin-top: 10px;
  }
  .header-logo{
    width: 60px;
    margin-bottom: 30px;
  }
}


@media(max-width:600px){
  .header-title h1{
    font-size: 11px;
    margin-top: 10px;
  }
  .header-logo{
    width: 40px;
    margin-bottom: 30px;
  }
  #root > div > div > header > div.header-main > div > h1:nth-child(2){
    font-size: 14px;
    
  }
  #root > div > div > header > div.language-toggle > div > span{
    height: 14px;
    width: 14px;
    margin-bottom: 30px;
  }
  #root > div > div > header > div.language-toggle > div > span > img{
    height: 20px;
    width: 20px;
    
  }
  .footer-content ul li article {
    font-size: 13px !important;
  }
  

  .footer-heading{
    line-height: 1.7;
    word-spacing: 2px;
    font-weight: lighter;
  }
  
  .footer-sns__item img{
    width: 27px;
    margin-top: 5px;
    
    
  }
  
 
}